@model Garage2_0.Models.ParkedVehicle

@{
    ViewData["Title"] = "CheckOut";
}
<h1 class="bg-info border rounded-lg font-italic text-light p-4">CHECK OUT VEHICLE</h1>
<hr />
<h3 class="text-danger">Are you sure you want to check out the vehicle?</h3>
<div>
    <h4>Reg Nr: @Html.DisplayFor(model => model.RegistrationNumber)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="CHECK OUT" class="btn btn-danger" /> 
        
    </form>
    <div class="mt-2">
        <a asp-action="Index" class="text-info">Back to the garage</a>
    </div>
</div>
