@model IEnumerable<Garage2_0.Models.ParkedVehicle>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VType)<a asp-action="Index" asp-route-sortOrder="@ViewData["VTypeSortParm"]"> &#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)<a asp-action="Index" asp-route-sortOrder="@ViewData["RegNrSortParm"]"> &#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)<a asp-action="Index" asp-route-sortOrder="@ViewData["ArrivalSortParm"]"> &#8645;</a>
            </th>
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @((DateTime.Now - item.Arrival).ToString("dd'\\d 'hh'\\h 'mm\\m"))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">EDIT</a> |
                <a asp-action="Details" asp-route-id="@item.ID">DETAILS</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">CHECKOUT</a>
            </td>
        </tr>
}
    </tbody>
</table>
